# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
st = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}


### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
st.add(11)
st.remove(1)
print(st)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}


### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [5]:
st1 = {1, 2, 3, 4, 5}
st2 = {2, 4, 6, 8, 10}
print(st1.union(st2))
print(st1.intersection(st2))
print(st1.difference(st2))
print(st1.symmetric_difference(st2))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}



### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [8]:
sts = {i**2 for i in range(1, 11)}
print(sts)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}


### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [9]:
even_set = {i for i in st if i%2==0}
print(even_set)

{2, 4, 6, 8, 10}



### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [12]:
st = {2, 4, 6, 8, 10, 10}
st.remove(10)
print(st)

{2, 4, 6, 8}



### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [15]:
st1 = {1, 2, 3, 4, 5}
st2 = {1, 2, 3}
print(st2.issubset(st1))
print(st1.issuperset(st2))

True
True


### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [19]:
st1 = frozenset({1, 2, 3, 4, 5})
print(st1)

frozenset({1, 2, 3, 4, 5})


### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [21]:
st = {1, 2, 3, 4, 5}
lst = list(st)
lst.append(6)
st = set(lst)
print(st)

{1, 2, 3, 4, 5, 6}


### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [22]:
dic = {'a': 1, 'b': 2, 'c': 3}
print(dic)

{'a': 1, 'b': 2, 'c': 3}


### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [24]:
st = {1, 2, 3, 4, 5}
for i in st:
    print(i, end=' ')

1 2 3 4 5


### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [25]:
st = {1, 2, 3, 4, 5}
st.clear()
print(st)

set()


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [26]:
st1 = {1, 2, 3, 4, 5}
st2 = {2, 4, 6, 8, 10}
st1.update(st1.symmetric_difference(st2))
print(st1)

{1, 2, 3, 4, 5, 6, 8, 10}


### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [28]:
st1 = {1, 2, 3, 4, 5}
n = 6
if n in st1:
    print('Yes')
else:
    print('No')

No


### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [29]:
st = {(1, 2), (3, 4), (5, 6), (8, 10)}
print(st)

{(1, 2), (8, 10), (3, 4), (5, 6)}