# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tp = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(tp)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
print(tp[0])
print(tp[4])
print(tp[9])

1
5
10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [4]:
print(tp[0:3])
print(tp[7:])
print(tp[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [7]:
tp = ((1, 2, 3), (4, 5, 6), (7, 8, 9, 10))
for i in tp:
    print(i)
print(tp[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9, 10)
6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [8]:
tp1 = (1, 2, 3) 
tp2 = (4, 5, 6)
tp = tp1 + tp2
print(tp)

(1, 2, 3, 4, 5, 6)



### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [10]:
tp = (1, 2, 3, 4, 5, 6, 6)
tp.count(6)

2



### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [12]:
tp = (1, 2, 3, 4, 5)
a, b, c, d, e = tp
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5



### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [13]:
lst = [1, 2, 3, 4, 5]
tp = tuple(lst)
print(tp)

(1, 2, 3, 4, 5)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [15]:
tp = ((1, 2, 3), (4, 5, 6), (7, 8, 9, 10))
print(tp)

((1, 2, 3), (4, 5, 6), (7, 8, 9, 10))


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [21]:
tp = (1, 2, 3, 4, 5)
lst = list(tp)
lst.append(6)
tp = tuple(lst)
print(tp)

(1, 2, 3, 4, 5, 6)


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [33]:
tp = ('a', 'b', 'd', 'u', 'l')
name = "".join(tp)
print(name)

abdul


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [36]:
dc = {('a', 'b', 'c'):(1, 2, 3)}
print(dc)

{('a', 'b', 'c'): (1, 2, 3)}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [39]:
tp = (('a', 'b'), ('d', 'u'), ('l', 'f'))
for i in tp:
    for j in i:
        print(j, end= ' ')

a b d u l f


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [40]:
tp = ('a', 'b', 'd', 'u', 'u')
st = set(tp)
print(st)

{'a', 'u', 'b', 'd'}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [42]:
tp = (1, 2, 3, 4, 5)
mx = max(tp)
mi = min(tp)
sm = sum(tp)
print(mx)
print(mi)
print(sm)

5
1
15