# Module: SQLite3 Assignments
## Lesson: SQLite3

In [2]:
import sqlite3

### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [3]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

In [89]:
cursor.execute("""
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT,
    department_id INTEGER,
    FOREIGN KEY (department_id) REFERENCES departments(id)
)
""")
conn.commit()


### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

In [92]:
cursor.executemany(
    "INSERT INTO employees (id, name, age, department, department_id) VALUES (?, ?, ?, ?, ?)",
    [
        (1, 'Bilal', 26, 'Machine Learning', 1),
        (2, 'Nadia', 32, 'Software Engineering', 2),
        (3, 'Fatima', 35, 'Human Resources', 3)
    ]
)
conn.commit()

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

In [44]:
cursor.execute('SELECT * FROM employees')
result = cursor.fetchall()
result

[(1, 'Abdul', 23, 'Data Science'),
 (2, 'Sara', 27, 'Software Engineering'),
 (3, 'Omar', 25, 'Marketing'),
 (4, 'Layla', 30, 'Human Resources'),
 (5, 'Ahmad', 28, 'Finance')]

In [45]:
cursor.execute("SELECT * FROM employees WHERE department = ?", ('Data Science',))
result = cursor.fetchall()
result

[(1, 'Abdul', 23, 'Data Science')]


### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

In [46]:
updates = [
    ('Machine Learning', 1),
    ('Sales', 3)
]

cursor.executemany("UPDATE employees SET department = ? WHERE id = ?", updates)
conn.commit()

In [47]:
cursor.execute("SELECT * FROM employees")
result = cursor.fetchall()
result

[(1, 'Abdul', 23, 'Machine Learning'),
 (2, 'Sara', 27, 'Software Engineering'),
 (3, 'Omar', 25, 'Sales'),
 (4, 'Layla', 30, 'Human Resources'),
 (5, 'Ahmad', 28, 'Finance')]


### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

In [48]:
cursor.execute("DELETE FROM employees WHERE id = ?", (1,))
conn.commit()

In [6]:
cursor.execute("SELECT * FROM employees")
result = cursor.fetchall()
result

[(1, 'Bilal', 26, 'Machine Learning', 1),
 (2, 'Nadia', 32, 'Software Engineering', 2),
 (3, 'Fatima', 35, 'Human Resources', 3)]


### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [50]:
cursor.execute("SELECT * FROM employees WHERE age > ?", (27,))
results = cursor.fetchall()
results

[(4, 'Layla', 30, 'Human Resources'), (5, 'Ahmad', 28, 'Finance')]

In [11]:
cursor.execute("SELECT * FROM employees WHERE name LIKE ?", (f"%{'a'}%",))
results = cursor.fetchall()
results

[(1, 'Bilal', 26, 'Machine Learning', 1),
 (2, 'Nadia', 32, 'Software Engineering', 2),
 (3, 'Fatima', 35, 'Human Resources', 3)]


### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [52]:
data = [
    (6, 'Bilal', 26, 'Machine Learning'),
    (7, 'Nadia', 32, 'Software Engineering'),
    (8, 'Yusuf', 29, 'Sales'),
    (9, 'Fatima', 35, 'Human Resources'),
    (10, 'Hassan', 24, 'Cybersecurity')
]
cursor.executemany("INSERT INTO employees VALUES (?, ?, ?, ?)", data)
conn.commit()

In [58]:
updates = [
    (80, 6),
    (70, 7)
]
cursor.executemany("UPDATE employees SET age = ? WHERE id = ?", updates)
conn.commit()

In [59]:
cursor.execute('SELECT * FROM employees')
result = cursor.fetchall()
result

[(2, 'Sara', 27, 'Software Engineering'),
 (3, 'Omar', 25, 'Sales'),
 (4, 'Layla', 30, 'Human Resources'),
 (5, 'Ahmad', 28, 'Finance'),
 (6, 'Bilal', 80, 'Machine Learning'),
 (7, 'Nadia', 70, 'Software Engineering'),
 (8, 'Yusuf', 29, 'Sales'),
 (9, 'Fatima', 35, 'Human Resources'),
 (10, 'Hassan', 24, 'Cybersecurity')]


### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [90]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS departments (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL
)
""")
conn.commit()

In [91]:
cursor.executemany(
    "INSERT INTO departments (id, name) VALUES (?, ?)",
    [
        (1, 'Machine Learning'),
        (2, 'Software Engineering'),
        (3, 'Human Resources')
    ]
)
conn.commit()

In [94]:
cursor.execute("""
SELECT e.id, e.name, e.age, d.name AS department
FROM employees e
JOIN departments d ON e.department_id = d.id
""")

result = cursor.fetchall()
result

[(1, 'Bilal', 26, 'Machine Learning'),
 (2, 'Nadia', 32, 'Software Engineering'),
 (3, 'Fatima', 35, 'Human Resources')]


### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [96]:
cursor.execute("CREATE INDEX IF NOT EXISTS idx_employee_name ON employees(name)")
conn.commit()

In [97]:
cursor.execute("SELECT * FROM employees WHERE name LIKE ?", (f"{'N'}%",))
results = cursor.fetchall()
results

[(2, 'Nadia', 32, 'Software Engineering', 2)]


### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [99]:
source_conn = sqlite3.connect('test.db')
backup_conn = sqlite3.connect('backup.db')
source_conn.backup(backup_conn)

In [100]:
backup_conn = sqlite3.connect('backup.db')
target_conn = sqlite3.connect('test.db')
backup_conn.backup(target_conn)

In [ ]:
cursor.execute("DELETE FROM department")
conn.commit()

In [88]:
cursor.execute("DROP TABLE IF EXISTS departments")
conn.commit()